# ==========================================
# Creator: fushiguro
# Bot Name: Anime Catcher
# Remade for Render & VPS Deployment
# ==========================================

# Telegram API credentials (https://my.telegram.org से लें)
API_ID=24965086
API_HASH=b9c764ce47c010e1a887f19fea54f648

# Telegram Bot Token (@BotFather से लें)
TOKEN=

# Admin User ID (तुम्हारा अपना टेलीग्राम ID)
OWNER_ID=

# Database Configuration (MongoDB URL कंपल्सरी है)
MONGO_URL=
DB_NAME=ANIMECATCHER

# Logging & Force Join (बॉट को सही से रन करने के लिए ये ज़रूरी हैं)
BOT_LOGGING=
FORCE_JOIN=-1003982214821
DATABASE_ID=

# Support & Update Links (बॉट के बटन्स के लिए)
SUPPORT_CHAT=
UPDATE_CHAT=
